
/* Main
============================================*/

.main {
    color: black;

    background-color: #F1F2EB;
    background-image: url('../img/bg-texture.png');
    background-size: cover;
    background-repeat:repeat-y;
    background-position: center;

    padding: 150px 0 110px;
}

.main__container {
    max-width: 1720px;

    margin: 0 auto;
    padding: 0 130px;

    overflow: hidden;
}

.main__intro {
    text-align: center;

    margin-bottom: 100px;
}

.intro__title {
    font-size: 64px;

    padding: 0 320px;
    margin-bottom: 40px;

    opacity: 0;
    transform: translateY(50%);
}

.intro__title.animate {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 800ms ease,
                opacity 800ms ease;
}

.intro__subtitle {
    font-size: 24px;

    padding: 0 370px;

    opacity: 0;
    transform: translateY(50%);
}

.intro__subtitle.animate {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 800ms ease,
                opacity 800ms ease;
    transition-delay: 300ms;
}



.main__middle {
    display: flex;

    margin-bottom: 100px;
}

.middle__article {
    max-width: 715px;

    flex-basis: 50%;

    background-color: rgba(183,184,172, 0.45);

    border-radius: 10px;

    padding: 35px 260px 60px 70px;

    opacity: 0;
}

.middle__article--left {
    transform: translateX(-50%);
}

.middle__article--right {
    transform: translateX(50%);
}

.middle__article.animate {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 800ms ease,
                opacity 800ms ease;
    transition-delay: 500ms;
}



.middle__article:first-child {
    margin-right: 30px;
}

.middle__item {
    margin-bottom: 30px;
}

.middle__title {
    font-size: 24px;
}

.middle__text {
    font-size: 18px;
}



.main__end {
    text-align: center;

    padding: 0 120px;

}

.end__title {
    font-size: 64px;

    margin-bottom: 120px;

    opacity: 0;
    transform: translateY(50%);
}

.end__title.animate {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 800ms ease,
                opacity 800ms ease;
    transition-delay: 600ms;
}

.end__columns {
    display: flex;
}

.columns__item {
    max-width: 330px;

    position: relative;

    flex-basis: 33.333%;

    border: 1px solid black;
    border-radius: 10px;

    padding: 75px 0 115px;
    margin-right: 100px;

    opacity: 0;
    transform: translateY(50%);
}

.columns__item.animate {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 800ms ease,
                opacity 800ms ease;
}

.columns__item:nth-child(1) {
    transition-delay: 500ms;
}

.columns__item:nth-child(2) {
    transition-delay: 600ms;
}

.columns__item:nth-child(3) {
    transition-delay: 700ms;
}

.columns__item:last-child {
    margin-right: 0px;
}

.columns__item::before {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #DFE0D9;

    border: 1px solid black;
    border-radius: 50%;

    content: '';
}

.columns__item::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 64px;
}

.columns__item:nth-child(1)::after {
    content: '1';
}

.columns__item:nth-child(2)::after {
    content: '2';
}

.columns__item:nth-child(3)::after {
    content: '3';
}

.columns__title {
    font-size: 25px;

    padding: 0 30px;
    margin-bottom: 15px;
}

.columns__text {
    font-size: 18px;

    padding: 0 20px;
}






/* Media Queries
============================================*/

@media (max-width: 1440px) {
    .main {
        padding: 105px 0 77px;
    }

    .main__container {
        max-width: 1204px;

        padding: 0 91px;
    }

    .main__intro {
        margin-bottom: 70px;
    }

    .intro__title {
        font-size: 45px;

        padding: 0 224px;
        margin-bottom: 28px;
    }

    .intro__subtitle {
        font-size: 17px;

        padding: 0 259px;
    }


    .main__middle {
        margin-bottom: 70px;
    }

    .middle__article {
        max-width: 501px;

        padding: 25px 182px 42px 49px;
    }

    .middle__article:first-child {
        margin-right: 21px;
    }

    .middle__item {
        margin-bottom: 21px;
    }

    .middle__title {
        font-size: 17px;
    }

    .middle__text {
        font-size: 13px;
    }


    .main__end {
        padding: 0 84px;

    }

    .end__title {
        font-size: 45px;

        margin-bottom: 84px;
    }

    .columns__item {
        max-width: 231px;

        padding: 53px 0 81px;
        margin-right: 70px;
    }


    .columns__item::before {
        width: 70px;
        height: 70px;
    }

    .columns__item::after {
        font-size: 45px;
    }

    .columns__title {
        font-size: 18px;

        padding: 0 21px;
        margin-bottom: 11px;
    }

    .columns__text {
        font-size: 13px;

        padding: 0 14px;
    }
}


@media (max-width: 1056px) {
    .main {
        padding: 83px 0 61px;
    }

    .main__container {
        max-width: 946px;

        padding: 0 72px;
    }

    .main__intro {
        margin-bottom: 55px;
    }

    .intro__title {
        font-size: 35px;

        padding: 0 176px;
        margin-bottom: 22px;
    }

    .intro__subtitle {
        font-size: 13px;

        padding: 0 204px;
    }


    .main__middle {
        margin-bottom: 55px;
    }

    .middle__article {
        max-width: 393px;

        padding: 19px 143px 33px 39px;
    }

    .middle__article:first-child {
        margin-right: 17px;
    }

    .middle__item {
        margin-bottom: 17px;
    }

    .middle__title {
        font-size: 13px;
    }

    .middle__text {
        font-size: 10px;
    }


    .main__end {
        padding: 0 66px;

    }

    .end__title {
        font-size: 35px;

        margin-bottom: 66px;
    }

    .columns__item {
        max-width: 182px;

        padding: 41px 0 63px;
        margin-right: 55px;
    }


    .columns__item::before {
        width: 55px;
        height: 55px;
    }

    .columns__item::after {
        font-size: 35px;
    }

    .columns__title {
        font-size: 14px;

        padding: 0 17px;
        margin-bottom: 8px;
    }

    .columns__text {
        font-size: 10px;

        padding: 0 11px;
    }
}

@media (max-width: 795px) {
    .main__container {
        padding: 0 50px;
    }

    .intro__title {
        font-size: 30px;

        padding: 0px;
        margin-bottom: 40px;
    }

    .intro__subtitle {
        font-size: 15px;

        padding: 0 20px;
    }

    .main__middle {
        display: block;
    }

    .middle__article {
        max-width: 100%;

        padding: 35px 70px 35px;
        margin-bottom: 20px;
    }

    .middle__article:first-child {
        margin-right: 0;
    }


    .main__end {
        padding: 0;
    }

    .end__columns {
        display: block;
    }

    .columns__item {
        max-width: 80%;

        margin: 0 auto 70px;
    }

    .columns__item:last-child {
        margin-right: auto;
    }
}

@media (max-width: 425px) {
    .main {
        padding: 40px 0 10px;
    }

    .main__container {
        padding: 0 20px;
    }

    .intro__title {
        font-size: 25px;
    }

    .main__middle {
        margin-bottom: 50px;
    }

    .middle__article {
        padding: 15px 20px;
    }

    .end__title {
        font-size: 25px;

        margin-bottom: 45px;
    }
}
